@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&family=Yanone+Kaffeesatz:wght@200..700&display=swap');


.sixtyfour{
    font-family: "Sixtyfour", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "BLED" 0,
      "SCAN" 0;
  }

  .yanone-kaffeesatz {
    font-family: "Yanone Kaffeesatz", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

* , html , body{
    margin: 0;
    padding: 0;
}

section{
    padding: 200px 0;
    max-height: 100vh;
}

body{
    background-color: #281549;
}
/* section- 1 */
.title-1{
    display: flex;
    justify-content: center;
    font-family: "Yanone Kaffeesatz", serif;
    font-size: 35px;
    color: aliceblue;
    margin-top: -100px;
    padding: 20px 20px;
}
.title-1 img{
    width: 100px;
    height: 100px;
    position: relative;
    bottom: 27px;
}
.desc-1{
    font-family: "Sixtyfour", serif;
    width: 50%;
    padding: 5% 10%;
}
.desc-1 h1{
    color: white;
    animation: glow 1s infinite alternate;
    font-size: 500%;
    margin: 25px 0;
}
@keyframes glow {
    0% { text-shadow: 0 0 5px #fff, 0 0 10px #fff; }
    50% { text-shadow: 0 0 10px #fff, 0 0 20px #fff; }
    100% { text-shadow: 0 0 5px #fff, 0 0 10px #fff; }
}
.desc-1 h3{
    color: #8C1AF6;
    font-size: 300%;
}
.btn-1{
    background:linear-gradient(to right , #8C1AF6 , #4d288b);
    width: 50%;
    height: 50px;
    font-family: "Sixtyfour" , serif;
    color: aliceblue;
    border: none;
    transition: all 0.5s ease-in-out;
    margin: 25px 0;
    cursor: pointer;
}
.btn-1:hover{
    background: linear-gradient(to left , #8C1AF6 , #4d288b);
}
.image-1{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    padding: 2% 2%;
}
.img-1{
    margin-top: -30%;
    margin-right: 3%;
}
.img-2{
    margin-top: -10%;
    margin-right: 40%;
}
.img-4{
    margin-top: -25%;
    margin-right: 40%;
}
/* section -2 */

.title-2{
    font-family: "Sixtyfour", serif;
    color: aliceblue;
    animation: glow 1s infinite alternate;
    font-size: 600%;
    padding: 5% 10%;
}
.desc-2{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10%;
    padding: 5% 10%;
}
.card-2 img{
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 20%;
}
.card-2 h1 , button{
    margin-top: -40%;
    font-family:  "Yanone Kaffeesatz", serif;
}
.card-2 h1{
    font-size: 400%;
    color: aliceblue;
}
.card-2 button{
    width: 60%;
    height: 45px;
    font-size: 150%;
    margin-top: 2%;
    background: linear-gradient(to right , #8C1AF6 , #281549);
    border: none;
    border-radius: 25px;
    color: aliceblue;
    font-weight: 1000;
    cursor: pointer;
}
.card-2 button:hover{
    background: linear-gradient(to right , #281549 , #8C1AF6);
}
/* section- 3 */

.title-3 h1{
    font-size: 500%;
    font-family:  "Sixtyfour", serif;
    color: #fff;
    animation: glow 1s infinite alternate;
}
.title-3{
    padding: 5% 10%;
}
.title-3 img{
    width: 30%;
    height: 400px;
    border-radius: 15%;
    object-fit: cover;
    margin-top: 5%;
}
.desc-3{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: center;
    margin-top: -30%;
    padding: 5% 10%;
    gap: 50px;
}
.card-3{
    width: 50%;
    font-family: "Yanone Kaffeesatz", serif;
}
.card-3 h1{
    font-size: 300%;
    color: #8C1AF6;
}
.card-3 p{
    font-size: 180%;
    color: aliceblue;
}
.card-3 button{
    width: 50%;
    height: 40px;
    font-size: 150%;
    background:linear-gradient(to right , white , #8C1AF6);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 1s ease-out;
}
.card-3 button:hover{
    background: linear-gradient(to right , #8C1AF6 , white);
}
/* section - 4 */

.title-4{
    font-family: "Sixtyfour", serif;
    color: aliceblue;
    animation: glow 1s infinite alternate;
    font-size: 600%;
    padding: 5% 10%;
}

.desc-4{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 150px;
    padding: 5% 10%;
    font-family: "Yanone Kaffeesatz", serif;
}
.card-4 img{
    width: 120%;
    height: 60%;
    object-fit: cover;
    border-radius: 20%;
}
.card-4{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.card-4 h1{
    font-size: 180%;
    color: aliceblue;
}
.card-4 h2{
    font-size: 250%;
    color: #8C1AF6;
}
.card-4 p{
    font-size: 180%;
    color: aliceblue;
}

/* section - 5 */

.title-5{
    font-family: "Sixtyfour", serif;
    color: aliceblue;
    animation: glow 1s infinite alternate;
    font-size: 600%;
    padding: 5% 10%;
}
.desc-5{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 150px;
    padding: 1% 10%;
    font-family: "Yanone Kaffeesatz", serif;
    margin-top: -10%;
}
.card-5 img{
    width: 100%;
    height: 40%;
    object-fit: cover;
    border-radius: 20%;
}
.card-5{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.card-5 h2{
    font-size: 250%;
    color: #8C1AF6;
}
.card-5 p{
    font-size: 180%;
    color: aliceblue;
}

/* section - 6 */

.section-6 {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 60vh;
    background: url('../images/bg.jpg') no-repeat center center/cover;
  }

.title-6{
    font-family: "Sixtyfour", serif;
    color: aliceblue;
    animation: glow 1s infinite alternate;
    font-size: 600%;
    padding: 5% 10%;
}
.desc-6{
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 5% 10%;
}
.card-6{
    width: 500px;
    font-family: "Yanone Kaffeesatz", serif;
    color: aliceblue;
}
.card-6 h1{
    font-size: 250%;
    margin-top: 5%;
}
.card-6 p{
    font-size: 150%;
    margin-top: 5%;
}
.card-6 img{
    width: 30%;
    height: 30%;
    object-fit: contain;
}
/* section- 7 */

.title-7{
    width: 50%;
}
.title-7 h1{
    font-family: "Sixtyfour", serif;
    color: aliceblue;
    animation: glow 1s infinite alternate;
    font-size: 600%;
    padding: 5% 10%;
    margin-top: 20%;
}
.title-7 p{
    font-size: 180%;
    color: aliceblue;
    font-family: "Yanone Kaffeesatz", serif;
    padding: 0 10%;
}
.title-7 button{
    width: 30%;
    height: 40px;
    margin-left: 50px;
    font-size: 150%;
    border: none;
    cursor: pointer;
}
.btn-7{
    padding: 5% 10%;
}
.btn-7-1{
    background: linear-gradient(to right , #8C1AF6 , #4d288b);
}
.btn-7-1:hover{
    background: linear-gradient(to left , #8C1AF6 , #281549);
}
.btn-7-2{
    background: linear-gradient(to right , white , #8C1AF6);
}
.btn-7-2:hover{
    background: linear-gradient(to left , white , #8C1AF6);
}

/*----------------------------------------------------------------------------*/


@media(max-width:765px){
    .title-1{
        display: flex;
        justify-content: center;
        margin: 0;
        margin-top: -20%;
        padding: 0 10%;
        font-size: 250%;
    }
    .desc-1 h1{
        font-size: 280%;
    }
    .desc-1 h3{
        font-size: 200%;
    }
    .desc-1{
        padding: 10% 10%;
    }
    .desc-1 button{
        width: 900%;
    }
    .big-desc-1{
        width: 10%;
    }
    .image-1 img{
        width: 100%;
        height: 100%;
    }
    .image-1{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        margin-top: 20%;
        padding: 5% 10%;
    }
    /*section -2 */
    .title-2{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        margin-top: 100%;
        font-size: 200%;
    }
    .desc-2{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 50px;
    }
    .card-2 h1{
        font-size: 250%;
    }
    /* section- 3 */
    .title-3{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 50%;
        margin-top: 270%;
        padding: 5% 10%;
    }
    .title-3 img{
        width: 80%;
        height: 200px;
    }
    .desc-3{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 10%;
        padding: 5% 10%;
    }
    .card-3{
        width: 100%;
    }
    /* section- 4 */

    .title-4{
        margin-top: 400%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 200%;
    }
    .desc-4{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 50px;
    }
    .card-4 h1{
        font-size: 250%;
    }
    /* section- 5 */

    .title-5{
        margin-top: 650%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 150%;
    }
    .desc-5{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 50px;
        margin-top: 10%;
    }
    .card-5 h1{
        font-size: 250%;
    }
    /* section -6 */
    .section-6{
        margin-top: 800%;
        min-height: 180vh;
    }
    .title-6{
        font-size: 400%;
        display: flex;
        justify-content: center;
    }
    .desc-6{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .card-6{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      max-width: 100%;
    }
    .card-6 h1{
        font-size: 180%;
    }
    .card-6 p{
        font-size: 150%;
    }
}
